body {
    background-color: bisque;
     text-align: center;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
section{
    text-align: center;
}
ul {
     text-align: center;
}


